<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRADUCTOR IA</title>
</head>

<body>
    <header class="header">
        <h1 class="subtitle">Sistema de Traducción de Idiomas</h1>
        <img src="../../assets/img/logo.jpg" alt="IA Traducción" class="logo">
    </header>

    <main class="main">
        <section class="section">
            <h2 class="section-title">Traductor IA</h2>
            <img src="../../assets/img/interfaz.jpg" alt="Interfaz del Traductor" class="section-image">
            <p class="section-text">Nuestro Sistema de Traducción es una plataforma diseñada para
                facilitar la comunicación entre personas que hablan diferentes idiomas. Utilizando tecnología de
                inteligencia artificial y procesamiento de lenguaje natural, ofrecemos traducciones precisas y
                contextuales en tiempo real.</p>
        </section>

        <section class="section">
            <h2 class="section-title">Los objetivos de nuestro proyecto</h2>
            <img src="../../assets/img/comunicación-global.jpg" alt="Comunicación Global" class="section-image">
            <ul class="list">
                <li class="list-item">* Eliminar barreras lingüísticas en la comunicación global</li>
                <li class="list-item">* Proporcionar traducciones rápidas y precisas para múltiples idiomas</li>
                <li class="list-item">* Mejorar la eficiencia en entornos multilingües, como negocios internacionales y
                    turismo</li>
                <li class="list-item">* Fomentar el intercambio cultural y el entendimiento entre diferentes comunidades
                    lingüísticas</li>
            </ul>
        </section>

        <section class="section">
            <h2 class="section-title">Beneficios</h2>
            <img src="../../assets/img/beneficios.jpg" alt="Beneficios de la Traducción" class="section-image">
            <ul class="list">
                <li class="list-item">* Comunicación instantánea entre hablantes de diferentes idiomas</li>
                <li class="list-item">* Ahorro de tiempo y costos en comparación con métodos tradicionales de traducción
                </li>
                <li class="list-item">* Mayor precisión en comparación con traductores convencionales</li>
                <li class="list-item">* Accesibilidad para usuarios de todos los niveles de habilidad lingüística</li>
                <li class="list-item">* Integración sencilla con otras plataformas y aplicaciones</li>
            </ul>
        </section>

        <section class="section">
            <h2 class="section-title">Características del proyecto</h2>
            <img src="../../assets/img/rompiendo-barreras.jpg" alt="Características del Proyecto" class="section-image">
            <ul class="list">
                <li class="list-item">* Soporte para más de 100 idiomas</li>
                <li class="list-item">* Traducción de texto</li>
                <li class="list-item">* Interfaz intuitiva y fácil de usar</li>
                <li class="list-item">* Funcionalidad offline para uso sin conexión</li>
                <li class="list-item">* Personalización de vocabulario y términos específicos</li>
                <li class="list-item">* Actualizaciones regulares para mejorar la precisión y ampliar el soporte de
                    idiomas</li>
            </ul>
        </section>

        <section class="section">
            <h2 class="section-title">Integrantes</h2>
            <div class="integrantes">
                <div class="integrante">
                    <img src="../../assets/img/integrantes.png" alt="Francis Castillo Sanabria">
                    <p class="integrante-name">Francis Castillo Sanabria</p>
                </div>
                <div class="integrante">
                    <img src="../../assets/img/integrantes.png" alt="Jonathan Javier Espichan Quinto">
                    <p class="integrante-name">Jonathan Javier Espichan Quinto</p>
                </div>
                <div class="integrante">
                    <img src="../../assets/img/integrantes.png" alt="Leonardo Torres Vicente">
                    <p class="integrante-name">Leonardo Torres Vicente</p>
                </div>
                <!-- Puedes agregar más integrantes repitiendo el bloque anterior -->
            </div>
        </section>

        <section class="section">
            <h2 class="section-title">Stack Tecnológico</h2>
            <div class="stack">
                <div class="stack-item">
                    <img src="../../assets/img/azure.png" alt="Azure">
                    <p class="stack-name">Azure</p>
                </div>
                <div class="stack-item">
                    <img src="../../assets/img/mongodb.png" alt="MongoDB">
                    <p class="stack-name">MongoDB</p>
                </div>
                <div class="stack-item">
                    <img src="../../assets/img/java.jpg" alt="Java">
                    <p class="stack-name">Java</p>
                </div>
                <div class="stack-item">
                    <img src="../../assets/img/angular.png" alt="Angular">
                    <p class="stack-name">Angular</p>
                </div>
            </div>
        </section>

        <button class="button" (click)="navigateToDashboard()">Abrir traductor</button>
    </main>

    <footer class="footer">
        <p class="footer-text">&copy; 2024 Sistema de Traducción de Idiomas. Todos los derechos reservados.</p>
    </footer>
</body>

</html>